

select::-ms-expand {
    display: none;
}

.transaccion_sat {
    BACKGROUND-COLOR: #FFCC00;
    padding: 4;
    font-Size: 9px;
    FONT-WEIGHT: bold;
    cursor: pointer;
    border: 0px inset #006576;
    color: #006576;
    FONT-FAMILY: Arial,Verdana, Times New Roman,sans-serif, Helvetica;
    letter-spacing: 0px;
    word-spacing: 0px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 0px solid #000000;
    text-decoration: none;
}

BODY {
    background-color: #f1f2f7 !important;
    font-family: "Roboto", sans-serif;
}

H1 {
    FONT-WEIGHT: normal;
    FONT-SIZE: 16pt;
    TEXT-TRANSFORM: none;
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Verdana, Arial;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}

H2 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #006576;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 24px;
    TEXT-ALIGN: center
}

P {
    FONT-SIZE: 12pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Verdana, Arial;
    TEXT-DECORATION: none
}

A {
    COLOR: #006576
}

.datos_cmb {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    z-index: -1;
    width: 120px;
}

A:link {
    color: #006576;
    CURSOR: hand;
    TEXT-DECORATION: underline
}

A:visited {
    color: #00657;
    CURSOR: hand;
    TEXT-DECORATION: underline
}

A:hover {
    color: #006576;
    CURSOR: hand;
    TEXT-DECORATION: underline
}

A.list {
    FONT-SIZE: 10px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

A.noline {
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: blue;
    FONT-FAMILY: verdana;
    TEXT-DECORATION: none
}

TABLE.list {
    BORDER-RIGHT: 1pt outset;
    BORDER-TOP: 1pt outset;
    BORDER-LEFT: 1pt outset;
    BORDER-BOTTOM: 1pt outset
}

TR.list_header {
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #deeeef;
    foreground-color: #000000
}

TR.list {
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #ffffff;
    foreground-color: #000000;
}

    tr.list:hover {
        background-color: #deeeef;
    }

TD.list {
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    color: #646464;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #DADADA;
    text-align: left;
}

.listFixRight {
    text-align: right !important;
}

.listCenter {
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    color: #646464;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #DADADA;
    text-align: center;
}

TD.list_header {
    BORDER-RIGHT: #006576 1px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #006576 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: #006576 1px;
    COLOR: #006576;
    BORDER-BOTTOM: #006576 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: center
}

TABLE.conf {
    BORDER-RIGHT: 2pt outset;
    BORDER-TOP: 2pt outset;
    BORDER-LEFT: 2pt outset;
    BORDER-BOTTOM: 2pt outset;
    BACKGROUND-COLOR: #5f9ea0
}

TR.conf {
    HEIGHT: 25px
}

TD.conf {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 11px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px dotted;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px
}

TABLE.info {
    BORDER-RIGHT: 1pt outset;
    BORDER-TOP: 1pt outset;
    BORDER-LEFT: 1pt outset;
    BORDER-BOTTOM: 1pt outset
}

TR.info {
    HEIGHT: 25px
}

TD.info {
    PADDING-LEFT: 6px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #deeeef
}

.txtFocus {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px dotted;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
    BORDER-RIGHT: #006576 3px solid;
    BORDER-TOP: #006576 3px solid;
    BORDER-LEFT: #006576 3px solid;
    BORDER-BOTTOM: #006576 3px solid
}

.txtclave {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 12px;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px dotted;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
    BORDER-RIGHT: #80b2bb 1px thin solid;
    BORDER-TOP: #80b2bb 1px thin solid;
    BORDER-LEFT: #80b2bb 1px thin solid;
    BORDER-BOTTOM: #80b2bb 1px thin solid
}

.txtTabla {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    color: #646464;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #DADADA;
    text-align: left;
}

.Mensajef {
    BORDER-RIGHT: #666600 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666600 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f4b728
}

.text {
    FONT-FAMILY: "Roboto", sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    margin: 0;
    outline: 0;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
}

.stHeadliner {
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    BACKGROUND: url(dgstriep.gif);
    WIDTH: 98%;
    CURSOR: default;
    COLOR: black;
    BORDER-TOP-STYLE: none;
    FONT-STYLE: italic;
    FONT-FAMILY: verdana,courier new, monospace;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    HEIGHT: auto;
    TEXT-ALIGN: center;
    BORDER-BOTTOM-STYLE: none
}

.peq {
    FONT-SIZE: 9px;
}

.minusculas {
    TEXT-TRANSFORM: capitalize;
}

.txtbienvenida {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}

.normal {
    FONT-SIZE: 12px;
    FONT-FAMILY: "Roboto",sans-serif;
    COLOR: #000000;
}

.verdepeq8 {
    FONT-SIZE: 9px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.tittabla {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    height: 36px;
    vertical-align: middle;
    background: #C8C8C8;
    padding-left: 5px;
    padding-right: 5px;
}

.tittabl1 {
    BORDER-RIGHT: 1px #ffffff;
    PADDING-RIGHT: 4px;
    BORDER-TOP: 1px solid #006576;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    BORDER-LEFT: 1px #ffffff;
    COLOR: #006576;
    BORDER-BOTTOM: 1px solid #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #deeeef;
    TEXT-ALIGN: right
}

.titDialogo {
    BORDER-RIGHT: #ffffff 1px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #ffffff 1px;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #006576;
    TEXT-ALIGN: center
}

.pieDialogo {
    FONT-SIZE: 12px;
    BORDER-TOP: #ffffff 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BORDER-RIGHT: #ffffff 1px;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
    PADDING-BOTTOM: 4px;
    TEXT-ALIGN: center;
    PADDING-TOP: 4px;
    PADDING-LEFT: 4px;
    BORDER-LEFT: #ffffff 1px;
    PADDING-RIGHT: 4px;
    BACKGROUND-COLOR: #ffffff;
}

.mensaje {
    FONT-SIZE: 14px !important;
    VERTICAL-ALIGN: top;
    COLOR: #72ac6f;
    PADDING-BOTTOM: 4px;
    TEXT-ALIGN: left;
    padding: 15px;
    BACKGROUND-COLOR: #ebf3eb;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

    .mensaje > img {
        float: left;
        width: 32px;
        height: 32px;
        padding-right: 10px;
        top: 0px;
    }

.submenu {
    VERTICAL-ALIGN: middle;
    FONT-FAMILY: "Roboto", sans-serif;
    BACKGROUND-COLOR: #f4b829;
    TEXT-ALIGN: center;
    font-size: 9px;
}

.linksubmenu {
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    LINE-HEIGHT: 10px;
    FONT-FAMILY: "Roboto", sans-serif;
    LETTER-SPACING: -0.05em;
    TEXT-DECORATION: none;
}

.lblTabla {
    PADDING-LEFT: 6px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 20px;
    BACKGROUND-COLOR: #deeeef
}

.txttitulo {
    FONT-SIZE: 12px;
    HEIGHT: 24px;
    FONT-FAMILY: "Roboto", sans-serif;
    FONT-WEIGHT: normal;
    COLOR: #146574;
    PADDING-TOP: 5px;
    padding-left: 200px;
}

.opcionActual {
    FONT-SIZE: 16px;
    HEIGHT: 24px;
    FONT-FAMILY: "Roboto", sans-serif;
    FONT-WEIGHT: bold;
    COLOR: #146574;
    PADDING-TOP: 5px;
    padding-left: 200px;
}

.Rodolfotxttitulo {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #006576;
    PADDING-TOP: 5px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    HEIGHT: 24px
}

.exitotrans {
    BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    PADDING-BOTTOM: 4px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #666666 1px solid;
    COLOR: #006576;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #666666 1px solid;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f4b829;
    TEXT-ALIGN: left
}

.verdenormal {
    FONT-SIZE: 12px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, sans-serif, Helvetica
}

.Vigente {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #636363 !important;
    BACKGROUND-COLOR: #ffffff;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    color: white;
    /*text-align:left;*/
}

.VigenteError {
    BORDER-RIGHT: #ffffff 1px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #ffffff 1px;
    COLOR: #ffffff;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: "Roboto", sans-serif;
    BACKGROUND-COLOR: #FF0000;
    TEXT-ALIGN: center;
}

.titCampo {
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    FONT-FAMILY: "Roboto", sans-serif;
    WHITE-SPACE: nowrap;
    FONT-WEIGHT: normal;
    COLOR: #636373;
    PADDING-LEFT: 6px;
}

.campoupper {
    FONT-SIZE: 11px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-TRANSFORM: uppercase
}

.campo {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: "Roboto",sans-serif;
    WHITE-SPACE: nowrap;
    HEIGHT: 20px
}

.datos {
    FONT-FAMILY: "Roboto", sans-serif;
    border: 1px solid;
    border-color: #b0b0b0;
    border-radius: 3px;
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 7px;
    height: 28px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
}

textarea.datos {
    height: 70px !important;
    max-width: 500px;
}

.buttonPicker {
    min-width: 35px !important;
}

.datosPequeno {
    FONT-FAMILY: "Roboto", sans-serif;
    border: 1px solid;
    border-color: #b0b0b0;
    border-radius: 3px;
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 7px;
    height: 25px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="checkbox"].datos {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 7px;
    height: 28px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    vertical-align: middle;
}

input[type="radio"].datos {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 7px;
    height: 28px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 5px;
    -webkit-appearance: radio !important;
    -moz-appearance: radio !important;
    vertical-align: middle;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("selector.png") no-repeat 100% center;
    appearance: none !important;
    padding-right: 24px !important;
    vertical-align: bottom;
}

.rescampo {
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: "Roboto", sans-serif;
    WHITE-SPACE: nowrap;
    HEIGHT: 20px;
}

.btndir {
    BACKGROUND-COLOR: #669999;
    BORDER-BOTTOM: #000000 thin solid;
    BORDER-LEFT: #cccccc thin solid;
    BORDER-RIGHT: #000000 thin solid;
    BORDER-TOP: #cccccc thin solid;
    COLOR: #FFCC00;
    CURSOR: hand;
    FONT-FAMILY: verdana,sans-serif;
    FONT-SIZE: 10px;
    FONT-WEIGHT: bold;
}

.verdepeq9 {
    FONT-SIZE: 9px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    background-image: url(../graficos/fondomenu.gif);
    background-repeat: repeat-x;
    border-top: thin none;
    border-right: thin none;
    border-bottom: thin none;
    border-left: 1px solid #006576;
    text-decoration: none;
    TEXT-ALIGN: center;
}

.verdepeq91 {
    FONT-SIZE: 9px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    border-top: 1px none #006576;
    border-left: 1px none #006576;
    border-right: thin none;
    border-bottom: 1px none #006576;
    text-decoration: none;
    TEXT-ALIGN: center;
}

.verdepeq92 {
    FONT-SIZE: 9px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-WEIGHT: bold;
    border-top: thin none;
    border-left: thin none;
    border-right: thin none;
    border-bottom: thin none;
    text-decoration: none;
}

.verdepeq {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-decoration: none;
}

.titDialogoAmarillo {
    BORDER-RIGHT: #ffffff 1px;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #ffffff 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    BORDER-LEFT: #ffffff 1px;
    COLOR: #f4b829;
    BORDER-BOTTOM: #ffffff 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #006576;
    TEXT-ALIGN: center;
    HEIGHT: 25px
}

.fondotabla {
    background-image: url(../graficos/fondomenu.gif);
    background-repeat: repeat-x;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    color: 006576;
}

.verdepeqtabla {
    FONT-SIZE: 9px;
    COLOR: #006576;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    border: none;
    FONT-WEIGHT: bold;
    background-image: url(../graficos/fondovertb.gif);
    background-repeat: repeat-y;
    background-position: left top;
}

.conborde {
    BORDER-RIGHT: 1px solid #006576;
}

.menu_izquierdo {
    COLOR: #333333;
    FONT-FAMILY: "Roboto",sans-serif;
    FONT-SIZE: 9px;
}

    .menu_izquierdo:hover {
        COLOR: #0099FF;
        FONT-FAMILY: "Roboto",sans-serif;
        FONT-SIZE: 9px;
        text-decoration: none;
    }


.TituloImpresion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    padding-right: 20px;
    color: #FFFFFF;
}

.EncabezadoImpresion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.ContenidoImpresion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
}

.tituloContenedor {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: #cbdee2;
    border-color: #dcdcdc !important;
    color: white;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 32px;
    text-align: center;
}

    .tituloContenedor > label {
        padding-top: 20px;
        text-align: center;
        color: #146574;
        border-bottom: 3px solid;
        border-color: #146574;
        height: 20px;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        top: 10px;
        position: relative;
        padding-bottom: 6px;
    }

.contenedorIndividual {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    border: 1px;
    border-color: #dcdcdc;
    border-style: solid;
    padding: 15px;
}

.button {
    font-family: "Roboto",sans-serif;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #4eadb2;
    border: none;
    border-radius: 5px !important;
    height: 32px !important;
    min-width: 100px;
}

    .button:disabled, button[disabled] {
        font-family: "Roboto",sans-serif;
        FONT-SIZE: 11px;
        CURSOR: hand;
        FONT-WEIGHT: bold;
        COLOR: #eaf1f2;
        BACKGROUND-COLOR: #9dd2d7;
        border: none;
        border-radius: 5px !important;
        height: 32px !important;
        min-width: 100px;
    }

.Mensajef {
    BORDER-RIGHT: #666600 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    BORDER-LEFT: #ffffff 1px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #666600 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f4b728
}

.EtiquetaImpresion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
}

.SubtituloImpresion {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.Numero {
    TEXT-ALIGN: right;
    font-size: 10px;
}


.TituloImpresion_RepMat {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    color: #FFFFFF;
}

.SubtituloImpresion_RepMat {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

.SubtituloImpresion_RepMat2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    font-weight: bold;
    text-align: left;
}

.ContenidoImpresion_RepMat {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
}

.CabeceraReporte {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
}

/************************ REGLAS VENTANA MODAL ************************/

.ventana_modal_contenedor {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0);
}

.ventana_normal_contenedor {
    display: block;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.ventana_modal {
    background-color: #fefefe;
    margin-top: -150px;
    margin-left: -280px;
    top: 40%;
    left: 50%;
    padding: 30px;
    border: 1px solid #d1d1d1;
    width: 500px;
    position: absolute;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ventana_modal_icono {
    float: left;
}

.ventana_modal_titulo {
    float: left;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    width: 425px;
    border: 0px solid red;
}

.ventana_modal_mensaje {
    font-family: "Roboto",sans-serif;
    clear: both;
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 425px;
    font-size: 14px;
    color: #0B6575;
    text-align: center;
    border: 0px solid red;
}

    .ventana_modal_mensaje img {
        cursor: pointer;
    }

.ventana_modal_boton {
    text-align: center;
    margin-left: 35px;
    width: 425px;
    border: 0px solid red;
}

.botonera {
    padding-top: 10px;
    text-align: center;
}

.separadorSeccion {
    margin-top: 15px;
    /*margin-left: -15px;
    margin-right: -15px;*/
    border-bottom: 2px solid #dcdcdc;
}

.contenedorMenuSecundario {
    background-color: #3AA4B0;
    display: none;
    position: absolute;
    cursor: hand;
}

.contenedorTablaMenuSecundario {
    background-color: white;
    z-index: 999;
    cursor: hand;
}

.itemMenuInternoSecundario {
    background-color: #3AA4B0;
    text-decoration: none !important;
    text-decoration-style: none !important;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    color: white;
    padding: 10px;
    cursor: hand;
}

    .itemMenuInternoSecundario:hover {
        background-color: #11808B;
        text-decoration: none !important;
        text-decoration-style: none !important;
        color: white;
        cursor: hand;
    }

/* Estilo de SubMenus en Grids */

#subMenuGrid {
    position: absolute;
    font-family: "Roboto",sans-serif;
    font-size: 10px;
    background-color: #3BA5B1;
    color: white;
    max-width: 200px;
    border-radius: 5px;
    padding: 0px;
    clear: both;
    display: none;
}

    #subMenuGrid ul {
        padding-left: 0px;
        margin-left: 0px;
        text-indent: 0px;
        cursor: hand;
    }

    #subMenuGrid li {
        list-style: none;
        padding-left: 10px;
        padding-right: 5px;
        padding-bottom: 2px;
        height: 20px;
        list-style-position: outside;
        cursor: hand;
        vertical-align: middle;
    }

        #subMenuGrid li:hover {
            list-style: none;
            padding-left: 10px;
            padding-right: 5px;
            padding-bottom: 2px;
            height: 20px;
            list-style-position: outside;
            cursor: hand;
            background-color: #0B6575;
            vertical-align: middle;
        }

    #subMenuGrid > li {
        float: left;
    }

/* Fin de estilos en submenus grids */



/* Estilos pantalla de pre-ingreso por menu */
/*Inicio*/
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg#Roboto-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Black.woff') format('woff'), url('../fonts/Roboto-Black.ttf') format('truetype'), url('../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.infodiv {
    background-color: #3ba5b1;
    /*border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;*/
    /*padding: 30px;
	padding: 0px 30px 0px 0px;*/
    text-align: right;
    vertical-align: bottom !important;
    /*width:750px;*/
    border-radius: 5px;
}

    .infodiv p {
        font-family: 'Roboto-Regular';
        color: #fff;
        margin: 0;
        font-size: 12px;
    }


    .infodiv span {
        font-family: 'Roboto-Bold';
        color: #ffcd00;
    }

.fecha {
    font-size: 12px;
    color: #3ba5b1;
    font-family: 'Roboto-Regular';
    text-align: right;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.lista {
    /*FONT-FAMILY: "Lucida Console";    
    font-size: 10px;
    margin: 0;
    outline: 0;
    padding: 8px;
    height:15px !important;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    color:#8a97a0;
    -webkit-appearance:none;
    -moz-appearance: none;
	vertical-align:middle;*/
    FONT-FAMILY: "Lucida Console";
    border-color: #b0b0b0;
    border-radius: 3px;
    font-size: 11px;
    margin: 0;
    outline: 0;
    padding: 7px;
    height: 20px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #8a97a0;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
    -ms-appearance: none; /* Edge */
    appearance: none; /* Future */
}
/*Fin*/




/*
**********************************************************************************************************************************
ESTILOS 24 ONLINE
**********************************************************************************************************************************
*/

.listFixCenter {
    text-align: center !important;
}

.piedialogodiv {
    padding: 18px;
    text-align: center;
}

.TxtTabladiv {
    float: left;
    vertical-align: middle;
    flex-grow: 1;
}

.TxtTablaB {
    height: 20px;
    vertical-align: middle;
}

.vigentedatosdiv {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    background-color: white;
    color: #636363;
    height: 15px;
    vertical-align: middle;
    padding: 8px 10px 8px 8px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
}

    .vigentedatosdiv:hover {
        background-color: #deeeef;
    }

.vigentediv {
    FONT-FAMILY: "Roboto", sans-serif;
    font-size: 11px;
    color: #FFFFFF;
    text-align: center;
    height: 15px;
    vertical-align: middle;
    background: #C8C8C8;
    padding: 8px;
}

.TitTabladiv {
    float: left;
}

.TitCampodiv {
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    FONT-FAMILY: "Roboto", sans-serif;
    WHITE-SPACE: nowrap;
    FONT-WEIGHT: normal;
    COLOR: #636363;
    width: 48%;
    text-align: right;
    float: left;
    padding-right: 2%;
}

.Campodiv {
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    FONT-FAMILY: "Roboto", sans-serif;
    WHITE-SPACE: nowrap;
    FONT-WEIGHT: normal;
    COLOR: #636363;
    /*width: 50%;*/
    text-align: left !important;
    float: left;
}

    .TitCampodiv.titselect,
    .Campodiv.titselect {
        height: 35px;
    }

.vigenteBdiv {
    FONT-FAMILY: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #636363;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    clear: both;
    text-align: left;
}

.contenedorIndividualdiv {
    width: 900px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.opcionActualdiv {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #f8fafa;
    border-color: #dcdcdc !important;
    color: #146574;
    border: 1px 1px 1px none;
    height: 25px;
    padding: 5px;
}

.opcionActualTitulodiv {
    width: 50%;
    float: left;
}

.tituloContenedordiv {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    background-color: #cbdee2;
    border-color: #dcdcdc !important;
    color: white;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: none;
    height: 32px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .tituloContenedordiv > label {
        padding-top: 20px;
        text-align: left;
        color: #146574;
        border-bottom: 3px solid;
        border-color: #146574;
        height: 20px;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        top: 10px;
        position: relative;
        padding-bottom: 6px;
    }

/*
*****************************************
ESTILOS 24 ONLINE Tarjeta Corporativa
*****************************************
*/
.contenidodiv {
    width: 100%;
    float: left;
}

.formulariodiv {
    width: 100%;
    background-color: white;
    border-color: #dcdcdc !important;
    color: white;
    padding-bottom: 30px;
}

.seccioncamposdiv {
    width: 80%;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.Campo3div {
    float: left;
    width: 50%;
    HEIGHT: 20px;
    WHITE-SPACE: nowrap;
    FONT-SIZE: 11px;
    FONT-FAMILY: "Roboto", sans-serif;
    FONT-WEIGHT: BOLD;
    COLOR: #636363;
}

.botoneradiv {
    width: 100%;
    background-color: white;
    border-color: #dcdcdc !important;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lineadiv {
    float: left;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}

.TitCampo2div {
    float: left;
    width: 48%;
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    COLOR: #636363;
    background-color: #dbe8eb;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-left: 2%;
}

.Campo2div {
    float: left;
    width: 48%;
    FONT-SIZE: 11px;
    HEIGHT: 20px;
    FONT-WEIGHT: bold;
    COLOR: #636363;
    background-color: #dbe8eb;
    text-align: right;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-right: 2%;
}

/****alert mensajes***/
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .alert h4 {
        margin-top: 0;
        color: inherit;
    }

    .alert .alert-link {
        font-weight: bold;
    }

    .alert > p,
    .alert > ul {
        margin-bottom: 0;
    }

        .alert > p + p {
            margin-top: 5px;
        }

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

    .alert-dismissable .close,
    .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -21px;
        color: inherit;
    }

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

    .alert-success hr {
        border-top-color: #c9e2b3;
    }

    .alert-success .alert-link {
        color: #2b542c;
    }

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

    .alert-info hr {
        border-top-color: #a6e1ec;
    }

    .alert-info .alert-link {
        color: #245269;
    }

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

    .alert-warning hr {
        border-top-color: #f7e1b5;
    }

    .alert-warning .alert-link {
        color: #66512c;
    }

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

    .alert-danger hr {
        border-top-color: #e4b9c0;
    }

    .alert-danger .alert-link {
        color: #843534;
    }
/*******fin alert *******/

.deshabilitado {
    background-color: #eee;
    pointer-events: none;
}

.columnaReducida {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.inputMinimo {
    width: 64px;
}

.cargadorOTC {
    position: fixed;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 0.5s linear infinite;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.covertorNotificacion {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    margin: 0px 0px 0px 0px;
    z-order: 100000;
}

/** Estilos de Barra de Pasos **/

.container {
    width: 600px;
    margin: 32px auto;
}

.progressbar {
    counter-reset: step;
}

    .progressbar li {
        list-style-type: none;
        width: 25%;
        float: left;
        font-size: 12px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        color: #7d7d7d;
    }

        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }

        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: green;
        }

            .progressbar li.active:before {
                border-color: #55b776;
            }

            .progressbar li.active + li:after {
                background-color: #55b776;
            }

/** Fin de estilos de barra de pasos **/

.alineadorColumnasGrid {
    text-align: left;
}

.botonAcentuado {
    background-color: #0B6575 !important;
}
