<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %-5p | %X{secuencial} | [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.bolivariano.microservice.utilitarioms" level="${level}">
    </logger>
    
    <root level="${rootlevel}">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
